/*	Toggle Menu
-------------------------*/
.navbar-toggler,
.toggler-menu {
	width: 40px;
    height: 40px;
    position: relative;
    margin: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 15px;
	background: $px-theme;
	border: none;
	span {
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 25px;
	    height: 2px;
	    margin: auto;
	    box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
		background: $px-white;
		color: $px-white;
	}
}

.mob-header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
	left: 0;
	padding: 6px 10px;
	@include up-lg {
		padding: 20px 50px;
		&.mh-desk {
			display: none;
		}
	}
	@include down-md {
		background: #111;
		border-bottom: 1px solid rgba(153, 153, 153, 0.11);
	}
	.toggler-menu {
		margin-left: auto;
	}
	.navbar-brand {
		font-size: 30px;
	    padding: 0 15px;
	    border: 1px solid rgba(153, 153, 153, 0.11);
	    .dark-theme & {
	    	background: #111;
		}
	    @include down-md {
	    	border: none;
	    	padding: 0;
	    }
		a {
			color: $px-theme;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	
}


/* Side Menu
-----------------------------*/
.header-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    overflow: hidden;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.29);
    z-index: 3;
    padding: 30px;
	@include transition(ease all 0.35s);
	left: -350px;
    background: $px-dark;
	.dark-theme & {
		background: $px-theme;
	}
	&.menu-open {
		left: 0;
	}
    @include up-lg {
    	&.hl-desk {
    		left: 0;
    	}
    }
    .hl-top {
    	text-align: center;
    	padding-bottom: 25px;
    	.img {
		    width: 100px;
		    height: 100px;
		    overflow: hidden;
		    border-radius: 50%;
		    display: inline-block;
		    vertical-align: top;
    	}
    	h6 {
    		margin: 20px 0 0;
		    font-weight: 600;
		    color: $px-white;
		    text-transform: uppercase;
    	}
    }
	.nav {
		li {
			width: 100%;
			a {
			    font-size: 15px;
			    font-weight: 500;
			    padding: 10px 0;
			    display: block;
			    position: relative;
			    border-bottom: 1px solid rgba($px-white, 0.08);
			    text-transform: uppercase;
			    letter-spacing: 0.055rem;
			    color: rgba($px-white, 0.5);
			    &.active,
			    &:hover {
			    	color: $px-white;
			    }
			}
			&:last-child {
				a {
					border-bottom: none;
				}
			}
		}
	}

	&.header-left-light {
		background: $px-white;
		.hl-top {
			h6 {
				color: $px-dark;
			}
		}
		.nav {
			li {
				a {
					color: $px-dark;
					border-bottom: 1px solid rgba(0, 0, 0, 0.08);
					&:hover,
					&.active {
						color: $px-theme;
					}
				}
			}
		}
	}
}


/* Header Dark
-----------------------------*/
@include up-md {
	.header-dark {
		padding: 0;
		background: rgba($px-white, 0.72);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		.fixed-header & {
			background: $px-white;
		}
		.navbar-brand {
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
			color: $px-dark;
		}
		.navbar-nav {
			.nav-link {
				line-height: 60px;
			    padding: 0 10px !important;
			    font-size: 13px;
			    font-weight: 500;
			    text-transform: uppercase;
			    letter-spacing: 0.035rem;
			    color: $px-dark;
			    margin-left: 10px;
			    &.active,
			    &:hover {
			    	color: $px-theme;
			    }
			}
		}
	}
}

/* Header Dark
-----------------------------*/
@include up-md {
	.header-white {
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		.fixed-header & {
			background: $px-white;
		}
		.navbar-brand {
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
			color: $px-white;
			.fixed-header & {
				color: $px-dark;
			}
		}
		.navbar-nav {
			.nav-link {
				line-height: 60px;
			    padding: 0 10px !important;
			    font-size: 13px;
			    font-weight: 500;
			    text-transform: uppercase;
			    letter-spacing: 0.035rem;
			    color: rgba($px-white, 0.7);
			    margin-left: 10px;
			    .fixed-header & {
			    	color: $px-dark;
			    }
			    &.active,
			    &:hover {
			    	color: $px-white;
			    	.fixed-header & {
			    		color: $px-theme;
			    	}
			    }
			}
		}
	}
}


/* Mobile 
-----------------------------*/
@include down-md {
	.header-nav {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 5;
	    .fixed-header & {
	    	background: $px-white;
	    }
		.navbar-brand {
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
			color: $px-dark;
		}
		&.header-white {
			.navbar-brand {
				color: $px-white;
				.fixed-header & {
					color: $px-dark;
				}
			}
		}
		.navbar-nav {
			padding: 8px 15px;
		    border: 1px solid #ddd;
			background: $px-white;
			> li {
				+ li {
					.nav-link {
						border-top: 1px solid #ddd;		
					}		
				}
			}
			.nav-link {
			    font-size: 13px;
			    font-weight: 500;
			    text-transform: uppercase;
			    letter-spacing: 0.035rem;
			    color: $px-dark;
			    &.active,
			    &:hover {
			    	color: $px-theme;
			    }
			}
		}
	}
}