/* rambla-regular - latin */
@font-face {
    font-family: 'Rambla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rambla-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Rambla'), local('Rambla-Regular'),
    url('../fonts/rambla-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/rambla-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/rambla-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/rambla-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/rambla-v7-latin-regular.svg#Rambla') format('svg'); /* Legacy iOS */
}
/* rambla-700 - latin */
@font-face {
    font-family: 'Rambla';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rambla-v7-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Rambla Bold'), local('Rambla-Bold'),
    url('../fonts/rambla-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/rambla-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/rambla-v7-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/rambla-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/rambla-v7-latin-700.svg#Rambla') format('svg'); /* Legacy iOS */
}
/* rambla-italic - latin */
@font-face {
    font-family: 'Rambla';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/rambla-v7-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Rambla Italic'), local('Rambla-Italic'),
    url('../fonts/rambla-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/rambla-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/rambla-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/rambla-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/rambla-v7-latin-italic.svg#Rambla') format('svg'); /* Legacy iOS */
}
/* rambla-700italic - latin */
@font-face {
    font-family: 'Rambla';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/rambla-v7-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Rambla Bold Italic'), local('Rambla-BoldItalic'),
    url('../fonts/rambla-v7-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/rambla-v7-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/rambla-v7-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/rambla-v7-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/rambla-v7-latin-700italic.svg#Rambla') format('svg'); /* Legacy iOS */
}



// Color system
$px-theme:						#ff4f00 !default; // Main theme
$px-body-color:					#555a64 !default; // Body text color

$px-black:						#000000 !default;
$px-white:						#ffffff !default;
$px-dark:						#090a0c !default;
$px-dark-bg:					#1d1d1d !default;
$px-medium-dark:				#333 !default;
$px-gray:						#f6f7ff !default;
$px-light-gray:					#eee !default;


// Font
$px-base-font:					15px !default;
$px-h1-font:                	50px !default;
$px-h2-font:                	44px !default;
$px-h3-font:                	32px !default;
$px-h4-font:                	26px !default;
$px-h5-font:                	20px !default;
$px-h6-font:                	18px !default;

$px-font-family:				'Rambla', sans-serif; // Main Font Family
$px-font-alt:					'Rambla', sans-serif; // Main Font Family

// Custom Bg
$px-yellow:						#f5a416 !default;
$px-green:						#11e279 !default;
$px-blue:						#49bedf !default;
$px-pink:						#f12699 !default;

// Breakpoints
$px-media-xsm:					567px !default;
$px-media-sm:					767px !default;
$px-media-md:					991px !default;
$px-media-lg:					1200px !default;
