{{!< default}}

<div class="h-screen pt-40">
	<h1 class="text-3xl font-bold leading-tight uppercase">Hallo!</h1>
	<h2 class="text-5xl font-bold leading-tight uppercase">Mein Name ist <span class="highlight">Hannes Daus</span></h2>

	<p class="mt-16 text-3xl">Ich bin <span class="highlight">Software Developer</span> mit mehr als <span class="highlight">12 Jahren</span> Berufserfahrung.</p>
</div>
                